version: "3.9"

services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: medai_qdrant_dev
    restart: unless-stopped
    ports:
      - "7779:6333"                # host:7779 -> container:6333
    volumes:
      - qdrant_storage_dev:/qdrant/storage
   

  app:
    build: .
    container_name: medai_app_dev
    restart: unless-stopped
    depends_on:
      - qdrant
        

    env_file:
      - .env.dev

    gpus: "all"

    environment:
      APP_HOST: "0.0.0.0"
      APP_PORT: "8000"                   # внутри контейнера
      LLM_BASE_URL: "http://host.docker.internal:11434"
      EASYOCR_DIR: "/root/.EasyOCR"
      # GPU-переменные для nvidia-container-toolkit:
      NVIDIA_VISIBLE_DEVICES: "all"
      NVIDIA_DRIVER_CAPABILITIES: "compute,utility"
      HF_DEVICE: "cuda"

    ports:
      - "7050:8000"                      # host:7050 -> container:8000

    volumes:
      - ./:/app
      - easyocr_cache:/root/.EasyOCR

    # Доступ к GPU (docker compose v2 + nvidia-container-toolkit на хосте)
    #gpus: "all"

    command: ["bash", "start.sh"]

    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  qdrant_storage_dev:
  easyocr_cache:
